body {
  margin:auto;
  background: white;
  font-family: Poppins,'sans-serif';
}

#root {
  background: #EDF2F8;
  width: 100vw;
  max-width: 1440px;
  margin: -1px auto auto;
  position: relative;
  color: rgba(80,80,80,1);
}

p,h1,h2,h3,h4,h5{
  margin:0;
}
